.hero {
    display: flex;
    position: relative;
}

.hero-text {
    position: absolute;
    z-index: 1;
    width: 620px;
    height: 275px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    top: 85px;
    right:130px;
    padding: 20px 46px 20px 46px;
}

.hero-text-tittle {
    font-family: $tittle-font;
    font-size: 50px;
    line-height: 50px;
    width: 430px;
    padding-bottom: 35px;
}

.hero-text-tittle::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 6px;
    background-color: $btn-color;
    z-index: 1;
    border-radius: 2px;
    right: 85px;
    top: 46px;
       
}

.hero-text-p {
    font-size: 14px;
    color: $font-color-p;
    width: 440px;
}

.hero-check {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 380px;
    height: 80px;
    right: 150px;
    top: 385px;
}

.hero-check div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.hero-check div img {
    width: 15px;
}

