body {
    overflow-x: hidden;
    font-family: $normal-font;
    background-image: url(../../img/ellipse.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 115px;
}

.container {
    margin: 30px 80px;
    font-size: 12px;
}

